.nav-bar {
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
	line-height: 0px
}

article {
    padding-right: 10px;
}

video {
	background-color: black;
}

.tabs-main {
    padding: 0rem;
}

select.form-control {
	display: inline;
	width: auto;
}

.navbar-form {
	margin: 0px;
}

input.form-control {
	margin: 0px;
}

.font-size-small {
	font-size: .75rem;
	margin-bottom: 0rem
}

.font-size-big {
	font-size: .9rem;
	margin-bottom: 5px;
}

.code, .size{
	float: right;
}

.size {
	margin-right: 8px;
}

.pager {
	margin-top: 5px;
}

.videocontrol {
	position: relative;
    float: right;
    top: 9px;
    right: 20px;
}

#videocenter {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 90px;
    margin: auto;
    width: 90px;
    height: 35px;
	z-index: 99;
}

#panel585 {
	position: relative;
    top: 0;
    left: 0;
}

button.prev,button.next {
	display: block;
    background: url(img/arrow_2.png) no-repeat;
    width: 37px;
    height: 63px;
    overflow: hidden;
    top: 50%;
    text-indent: -9999px;
    z-index: 999999;
}

button.next:hover {
    background-position: -37px -63px;
}

button.next {
    background-position: -37px 0;
}

button.prev:hover {
    background-position: 0 -63px;
}

button.prev {
    background-position: 0 0;
}



    